.excels,
.folders {
  display: grid;
  gap: 1px;

  >* {
    outline: 1px solid #999;
    padding: 2px 8px;
  }
}

.excels {
  grid-template-columns: max-content auto;
}

.folders {
  grid-template-columns: max-content auto;
}